<h1>All of the Actors</h1>
<ul>
<%@actors.each do |actor|%>
<li><%=link_to actor.name, actor_path(actor)%> </li> <br>

<% end %>

</ul>
<%= link_to 'Add new actor.', new_actor_path %>
<%= link_to 'Go to list of all Movie.', movies_path %>


